<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net45" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net45" />
  <package id="EntityFramework.SqlServerCompact" version="6.4.0" targetFramework="net45" />
  <package id="EPPlus" version="4.5.3.1" targetFramework="net45" />
  <package id="EPPlus.DataExtractor" version="2.2.0" targetFramework="net45" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net45" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.5" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net45" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net45" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net45" />
  <package id="PersianDateTime" version="1.1.5082.36395" targetFramework="net45" />
</packages>